<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-plain">
<head>
    <title th:text="#{login.title}"></title>
</head>
<body class="coffeenet--login-body">
<main layout:fragment="auth_main">

    <div class="coffeenet--container-column coffeenet--container-login">

        <img th:classappend="${param.error} ? 'password-error' : ''" class="coffeenet--login-logo-hand"
             alt="CoffeeNet Logo" src="/images/03_logo_hand.svg"/>
        <img class="coffeenet--login-logo-text" alt="CoffeeNet Logo" src="/images/04_logo_text.svg"/>

        <div th:if="${param.error}" th:text="#{login.failure}" class="alert alert-danger"></div>

        <form class="coffeenet--login-form" role="form" th:action="@{/login}" th:method="POST">
            <label class="hidden-screen-reader-text" for="username" th:text="#{login.label.username}"></label>
            <input type="text" class="form-control" id="username" name="username"
                   th:placeholder="#{login.username}" autofocus="autofocus"/>

            <label class="hidden-screen-reader-text" for="password" th:text="#{login.label.password}"></label>
            <input type="password" class="form-control" id="password" name="password"
                   th:placeholder="#{login.password}"/>

            <button type="submit" class="btn btn-block btn-success">
                <span th:text="#{login.button.login}" th:attr="aria-label=#{login.button.login}"></span>
            </button>
        </form>

        <div class="coffeenet--login-password-recovery">
            <a th:if="${passwordRecoveryUrl}" th:href="${passwordRecoveryUrl}" th:text="#{login.recovery}">
                Passwort recovery
            </a>
        </div>
    </div>
</main>
</body>
</html>