<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-plain">
<head>
    <title th:text="#{login.title}"></title>
</head>
<body>
<main layout:fragment="auth_main">
    <div class="login container">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="login--form">
                <div class="login--header">
                    <img alt="synyx Logo" src="/images/logo.png"/>
                    <h2 th:text="#{logout.name}"></h2>
                </div>

                <form id="logoutForm" name="logoutForm" th:action="@{/logout}" th:method="post">
                    <button class="btn btn-block btn-danger" type="submit">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span th:text="#{login.button.logout}"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('#logoutForm').ready(function () {
            $logoutForm = $('#logoutForm');
            var referrer = document.referrer;
            var action = 'logout';
            if (referrer) {
                action += '?redirect=' + referrer;
            }
            $logoutForm.attr('action', action);
            $logoutForm.submit();
        });
    </script>
</main>
</body>
</html>