<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-plain">
<head>
    <title th:text="#{logout.title}"></title>
</head>
<body class="coffeenet--login-body">
<main layout:fragment="auth_main">

    <div class="coffeenet--container-column coffeenet--container-login">
        <img class="coffeenet--logout-logo" alt="CoffeeNet Logo" src="/images/logo.svg"/>
        <img class="coffeenet--logout-text" alt="CoffeeNet Text" src="/images/04_logo_text_without.svg"/>

        <form id="logoutForm" name="logoutForm" th:action="@{/logout}" th:method="POST">
            <button class="btn btn-block btn-success" type="submit">
                <span th:text="#{logout.button.text}" th:attr="aria-label=#{logout.button.text}"></span>
            </button>
        </form>
    </div>
    <script>
        $('#logoutForm').ready(function () {
            $logoutForm = $('#logoutForm');
            var referrer = document.referrer;
            var action = 'logout';
            if (referrer) {
                action += '?redirect=' + referrer;
            }
            $logoutForm.attr('action', action);
            $logoutForm.submit();
        });
    </script>
</main>
</body>
</html>