<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-plain">
<!--/*@thymesVar id="authorizationRequest" type="org.springframework.security.oauth2.provider.AuthorizationRequest"*/-->
<head>
    <title th:text="#{authorize.title}"></title>
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<main layout:fragment="auth_main">

    <div class="coffeenet--container coffeenet--container-authorize">
        <img class="logo" alt="CoffeeNet Logo" src="/images/logo.svg"/>
    </div>

    <div class="coffeenet--container">
        <div>
            <h2 th:text="#{authorize.title}"></h2>

            <th:block th:if="${authorizationRequest == null}">
                <div th:text="#{authorize.no.request}">No authorization request to approve</div>
            </th:block>
            <th:block th:if="${authorizationRequest != null}">
                <p th:text="#{authorize.text.first}"></p>
                <p class="coffeenet--authorize--client-id" th:text="${authorizationRequest.clientId}"></p>
                <p th:text="#{authorize.text.second}"></p>

                <div class="coffeenet--container coffeenet--container-buttons">
                    <form role="form" th:action="@{/oauth/authorize}" th:method="POST">
                        <input name="user_oauth_approval" value="true" type="hidden"/>
                        <input type="hidden" id="scope.openid" name="scope.openid" value="false"/>
                        <input type="hidden" id="authorize" name="authorize" value="Authorize"/>
                        <button class="btn btn-danger" type="submit">
                            <i class="fa fa-thumbs-down"></i>
                        </button>
                    </form>

                    <form role="form" th:action="@{/oauth/authorize}" th:method="POST">
                        <input name="user_oauth_approval" value="true" type="hidden"/>
                        <input type="hidden" id="scope.openid" name="scope.openid" value="true"/>
                        <input type="hidden" id="authorize" name="authorize" value="Authorize"/>
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                    </form>
                </div>
            </th:block>
        </div>
    </div>
</main>
</body>
</html>