<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-plain">
<!--/*@thymesVar id="authorizationRequest" type="org.springframework.security.oauth2.provider.AuthorizationRequest"*/-->
<head>
    <title th:text="#{authorize.title}"></title>
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
<main layout:fragment="auth_main">
    <div class="authorize container">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

            <div class="authorize--header">
                <img alt="synyx Logo" src="/images/logo.png"/>
                <h2 th:text="#{authorize.title}"></h2>
            </div>

            <div th:if="${authorizationRequest == null}" th:text="#{authorize.no.request}"
                 class="authorize--form"></div>
            <div th:if="${authorizationRequest != null}" class="authorize--form">
                <p th:text="#{authorize.text.first}"></p>
                <p class="authorize--client-id" th:text="${authorizationRequest.clientId}"></p>
                <p th:text="#{authorize.text.second}"></p>
                <div class="row">
                    <div class="col-xs-6">
                        <form role="form" th:action="@{/oauth/authorize}" th:method="post">
                            <div class="form-group">
                                <input name="user_oauth_approval" value="true" type="hidden"/>
                                <input type="hidden" id="scope.openid" name="scope.openid" value="true"/>
                                <input type="hidden" id="authorize" name="authorize" value="Authorize"/>
                                <button class="btn btn-success" type="submit">
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="col-xs-6">
                        <form role="form" th:action="@{/oauth/authorize}" th:method="post">
                            <div class="form-group">
                                <input name="user_oauth_approval" value="true" type="hidden"/>
                                <input type="hidden" id="scope.openid" name="scope.openid" value="false"/>
                                <input type="hidden" id="authorize" name="authorize" value="Authorize"/>
                                <button class="btn btn-danger" type="submit">
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>