.content{
    padding-top: 50px;
    padding-left:5%;
    padding-right:5%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.header {

    border-width: 2px;
    border-bottom-width:2px;
    border-bottom-color:Grey;
    border-bottom-style: solid;
    padding-bottom: 10px;
    margin-bottom: 50px;
}