<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{clients.all.title}"></title>
</head>
<body>
<!--/*@thymesVar id="clients" type="java.util.List<coffee.synyx.auth.authorization.client.web.AuthClientDto>"*/-->
<main layout:fragment="auth_main">
    <div class="text-center alert alert-global alert-success" th:if="${successMessage != null}" th:text="#{${successMessage}}"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <div th:each="client : ${clients}" class="panel panel-default">
                    <div class="panel-heading">
                        <a th:href="@{/clients/{id}(id=${client.clientId})}" th:text="${client.clientId}"></a>
                        <div sec:authorize="hasRole('ROLE_COFFEENET-ADMIN')" class="pull-right"><!-- TODO - correct ROLE? -->
                            <a th:href="@{/clients/{id}/edit(id=${client.clientId})}"
                               class="glyphicon glyphicon-cog"></a>
                            <a th:href="@{/clients/{id}/delete(id=${client.clientId})}"
                               class="glyphicon glyphicon-trash"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="coffeenet--clients-container">
                            <span class="coffeenet--clients-details-header" th:text="#{client.resourceIds.header}"></span>
                            <span th:text="${client.resourceIds}"></span>
                        </div>
                        <div class="coffeenet--clients-container">
                            <span class="coffeenet--clients-details-header" th:text="#{client.scope.header}"></span>
                            <span th:text="${client.scope}"></span>
                        </div>
                        <div class="coffeenet--clients-container">
                            <span class="coffeenet--clients-details-header" th:text="#{client.authorizedGrantTypes.header}"></span>
                            <span th:text="${client.authorizedGrantTypes}"></span>
                        </div>
                        <div class="coffeenet--clients-container">
                            <span class="coffeenet--clients-details-header" th:text="#{client.authorities.header}"></span>
                            <span th:text="${client.authorities}"></span>
                        </div>
                        <div class="coffeenet--clients-container">
                            <span class="coffeenet--clients-details-header" th:text="#{client.accessTokenValidity.header}"></span>
                            <span th:text="${client.accessTokenValidity}"></span>
                        </div>
                        <div class="coffeenet--clients-container">
                            <span class="coffeenet--clients-details-header" th:text="#{client.refreshTokenValidity.header}"></span>
                            <span th:text="${client.refreshTokenValidity}"></span>
                        </div>
                        <div class="coffeenet--clients-container">
                            <span class="coffeenet--clients-details-header" th:text="#{client.redirect.header}"></span>
                            <ul>
                                <li th:each="url : ${#strings.arraySplit(client.getRegisteredRedirectUri(), ',')}">
                                    <a th:text="${url}" th:href="${url}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>