<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<!--/*@thymesVar id="client" type="coffee.synyx.auth.authorization.client.web.AuthClientDto"*/-->
<head>
    <title th:text="#{authorize.title}"></title>
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
<main layout:fragment="auth_main">

    <div class="coffeenet--container coffeenet--container-authorize">
        <img class="coffeenet--logo" alt="CoffeeNet Logo" src="/images/logo.svg"/>
    </div>

    <div th:if="${client != null}" class="authorize--form">
        <div class="coffeenet--container">
            <div>
                <h2 th:text="#{client.delete.confirm.title}"></h2>

                <p th:text="#{client.delete.text.first}"></p>
                <p class="coffeenet--authorize--client-id" th:text="${client.clientId}"></p>
                <p th:text="#{client.delete.text.second}"></p>

                <div class="coffeenet--container coffeenet--container-buttons">
                    <a class="btn btn-danger" href="/clients">
                        <i class="fa fa-thumbs-down"></i>
                    </a>

                    <form role="form" th:action="@{/clients/{id}/(id=${client.clientId})}" th:method="delete">
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>