<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{clients.edit.title}"></title>
</head>
<body>
<!--/*@thymesVar id="client" type="coffee.synyx.auth.authorization.client.web.AuthClientDto"*/-->
<main layout:fragment="auth_main">
    <div class="text-center alert alert-global alert-success" th:if="${successMessage != null}" th:text="#{${successMessage}}"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span th:text="#{clients.edit.title}"></span>
                    </div>
                    <div class="panel-body">
                        <form role="form" th:action="@{/clients/{id}(id=${client.clientId})}" th:object="${client}" th:method="put">
                            <div class="form-group">
                                <label for="clientId" class="control-label" th:text="#{client.id.header}"></label>
                                <input disabled="disabled" id="clientId" th:field="*{clientId}" class="form-control" type="text" name="clientId" placeholder="myApp"/>
                                <span class="form-error" th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}">clientId error</span>
                            </div>
                            <div class="form-group">
                                <label for="clientSecret" class="control-label" th:text="#{client.secret.header}"></label>
                                <input id="clientSecret" th:field="*{clientSecret}" class="form-control" type="text" name="clientSecret" placeholder="gEhEimGEheim"/>
                                <span class="form-error" th:if="${#fields.hasErrors('clientSecret')}" th:errors="*{clientSecret}">clientSecret error</span>
                            </div>
                            <div class="form-group">
                                <label for="registeredRedirectUri" class="control-label" th:text="#{client.redirect.header}"></label>
                                <input id="registeredRedirectUri" th:field="*{registeredRedirectUri}" class="form-control" type="text" name="registeredRedirectUri" placeholder="http://myApp.org,https://myApp.org,..."/>
                                <span class="form-error" th:if="${#fields.hasErrors('registeredRedirectUri')}" th:errors="*{registeredRedirectUri}">registeredRedirectUri error</span>
                            </div>
                            <div class="form-group">
                                <label for="resourceIds" class="control-label" th:text="#{client.resourceIds.header}"></label>
                                <input id="resourceIds" th:field="*{resourceIds}" class="form-control" type="text" name="resourceIds"/>
                                <span class="form-error" th:if="${#fields.hasErrors('resourceIds')}" th:errors="*{resourceIds}">resourceIds error</span>
                            </div>
                            <div class="form-group">
                                <label for="scope" class="control-label" th:text="#{client.scope.header}"></label>
                                <input id="scope" th:field="*{scope}" class="form-control" type="text" name="scope"/>
                                <span class="form-error" th:if="${#fields.hasErrors('scope')}" th:errors="*{scope}">scope error</span>
                            </div>
                            <div class="form-group">
                                <label for="authorizedGrantTypes" class="control-label" th:text="#{client.authorizedGrantTypes.header}"></label>
                                <input id="authorizedGrantTypes" th:field="*{authorizedGrantTypes}" class="form-control" type="text" name="authorizedGrantTypes"/>
                                <span class="form-error" th:if="${#fields.hasErrors('authorizedGrantTypes')}" th:errors="*{authorizedGrantTypes}">authorizedGrantTypes error</span>
                            </div>
                            <div class="form-group">
                                <label for="authorities" class="control-label" th:text="#{client.authorities.header}"></label>
                                <input id="authorities" th:field="*{authorities}" class="form-control" type="text" name="authorities"/>
                                <span class="form-error" th:if="${#fields.hasErrors('authorities')}" th:errors="*{authorities}">authorities error</span>
                            </div>
                            <div class="form-group">
                                <label for="accessTokenValidity" class="control-label" th:text="#{client.accessTokenValidity.header}"></label>
                                <input id="accessTokenValidity" th:field="*{accessTokenValidity}" class="form-control" type="number" name="accessTokenValidity"/>
                                <span class="form-error" th:if="${#fields.hasErrors('accessTokenValidity')}" th:errors="*{accessTokenValidity}">accessTokenValidity error</span>
                            </div>
                            <div class="form-group">
                                <label for="refreshTokenValidity" class="control-label" th:text="#{client.refreshTokenValidity.header}"></label>
                                <input id="refreshTokenValidity" th:field="*{refreshTokenValidity}" class="form-control" type="number" name="refreshTokenValidity"/>
                                <span class="form-error" th:if="${#fields.hasErrors('refreshTokenValidity')}" th:errors="*{refreshTokenValidity}">refreshTokenValidity error</span>
                            </div>

                            <button type="submit" class="btn btn-success" th:text="#{client.edit.submit}"></button>
                            <button type="reset"  class="btn btn-default" th:text="#{client.edit.reset}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>