<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-plain">
<head>
    <title th:text="#{error.notfound.title}"></title>
</head>
<body>
<main layout:fragment="auth_main">
    <div class="coffeenet--container coffeenet--container-error">
        <img class="logo" alt="coffeenet Logo" src="/images/logo.svg"/>
    </div>

    <div class="coffeenet--container">
        <div>
            <h2 th:text="#{error.notfound}"></h2>
            <p th:text="#{error.notfound.messageA}"></p>
            <p th:text="#{error.general.messageB}"></p>
        </div>
    </div>
</main>
</body>
</html>