/* Basic overrides */

body {
    background-color: #FFFFFF;
}

@media (min-width: 768px) {
    body {
        background-color: #EFEAE1;
    }
}

.container {
    padding: 0;
}

/* Login/authorize module */
.login, .authorize {
    /* OK */
}

@media (min-width: 768px) {
    .login, .authorize {
        margin-top: 120px;
    }
}

.login--header, .authorize--header {
    background-color: #FFFFFF;
    padding: 24px 18px;
}

.login--header > img, .authorize--header > img {
    display: inline-block;
}

.login--header > h2, .authorize--header > h2 {
    margin: 0 0 0 12px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.login--form, .authorize--form {
    background-color: #FFFFFF;
    padding: 0 18px 24px 18px;
}

.login--form form, .authorize--form form {
    margin: 0;
}

.login--form button[type=submit] {
    background-color: #B2C900;
    border-color: #B2C900;
    color: #FFFFFF;
}

.authorize--form button {
    width: 100%;
}

.authorize--client-id {
    font-size: 2em;
    text-align: center;
}

.btn {
    border-radius: 0;
}