body {
    background-color: #efeae1;
}
.content{
    padding-top: 75px;
}

div {
    display: block;
}

input.ng-invalid.ng-touched {
    border: 3px solid #d9534f;
}

.form-control{
    border-radius : 0px;
}

.btn{
    border-radius : 0px;
}

.topic {
    position: relative;
    text-align: center;
}

.white {
    background-color: #ffffff;
}

.green {
    background-color: #b2c900;
}

.box {
    padding: 20px;
    margin-bottom: 10px;
}

.whiteContent {
    border-bottom: 1px solid #D1D4CD;
    border-top: 1px solid #D1D4CD;
    padding-bottom: 10px;
}

.greenCorner {
    bottom: 0;
    position: absolute;
    right: -1px;
}

.logo {
    padding-right: 10px;
}

.btn-success {
    color: #000000;
    background-color: #b2c900;
    border-color: #b2c900;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert {
    margin-bottom: 10px;
}

.form-container form{
    display: inline;
}
