/* Basic overrides */

body {
    background-color: #FFFFFF;
}

@media (min-width: 768px) {
    body {
        background-color: #EFEAE1;
    }
}

.container {
    padding: 0;
}

/* Login/authorize module */
.login, .authorize, .error {
    /* OK */
}

@media (min-width: 768px) {
    .login, .authorize, .error {
        margin-top: 120px;
    }
}

.login--header, .authorize--header, .error--header {
    background-color: #FFFFFF;
    padding: 24px 18px;
}

.login--header > img, .authorize--header > img, .error--header > img {
    display: inline-block;
}

.login--header > h2, .authorize--header > h2, .error--header > h2 {
    margin: 0 0 0 12px;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}

.login--form, .authorize--form, .error--body {
    background-color: #FFFFFF;
    padding: 0 18px 10px 18px;
}

.login--form form, .authorize--form form {
    margin: 0;
}

.login--form button[type=submit] {
    background-color: #AED581;
    border-color: #AED581;
    color: #FFFFFF;
}

.login--password-recovery {
    text-align: right;
    margin-top: 24px;
}

.login--logo, .error--logo, .authorize--logo {
    width: 100px;
}

.authorize--form .btn {
    width: 100%;
}

.authorize--client-id {
    font-size: 2em;
    text-align: center;
}

.btn {
    border-radius: 0;
}

.btn-success {
    background-color: #AED581;
    border-color: #AED581;
}

.btn-success:hover {
    background-color: #9baf02;
    border-color: #9baf02;
}

.navbar-nav > li > a {
    vertical-align: middle;
    font-weight: bold;
}

.panel-default > .panel-heading {

    background-color: #AED581;
}

.panel-heading a {
    color: #FFFFFF;
    font-weight: bold;
}

.panel-heading span {
    color: #FFFFFF;
    font-weight: bold;
}

.panel-heading a:hover {
    color: #777c82;
    text-decoration: none;
}

.alert-global {
    margin-top: -20px;
}

.form-error {
    color: darkred;
    font-weight: bold;
}

.details--header {
    font-weight: bold;
}

.hidden-screen-reader-text {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}