<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<body>

<main layout:fragment="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div th:each="client  : ${clients}" class="panel panel-default">
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="panel-heading"> <!-- TODO - correct ROLE? -->
                        <a th:href="@{/clients/{id}(id=${client.clientId})}" th:text="${client.clientId}"></a>
                        <div class="pull-right">
                            <a th:href="@{/clients/{id}/edit(id=${client.clientId})}"
                               class="glyphicon glyphicon-cog"></a>
                            <a th:href="@{/clients/{id}/delete(id=${client.clientId})}"
                               class="glyphicon glyphicon-trash"></a>
                        </div>
                    </div>
                    <div class="panel-body" th:text="${client.registeredRedirectUri}"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(function () {
        $('.table tr[data-href]').each(function () {
            $(this).css('cursor', 'pointer').hover(
                    function () {
                        $(this).addClass('active');
                    },
                    function () {
                        $(this).removeClass('active');
                    }).click(function () {
                        document.location = $(this).attr('data-href');
                    }
            );
        });
    });
</script>
</body>
</html>