<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<main layout:fragment="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12">
                <table class="table table-striped">
                    <tr>
                        <th th:text="#{client.id.header}"></th>
                        <td th:text="${client.clientId}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{client.scope.header}">:</th>
                        <td th:text="${client.scope}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{client.redirect.header}"></th>
                        <td th:text="${client.registeredRedirectUri}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>