<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui, user-scalable=no"/>
    <title>CoffeeNet Authentication Server</title>

    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/auth.css}"/>
</head>
<body>

<nav class="navbar navbar-default" id="app-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#clients-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/">
                        <img class="navbar--synyx-logo" src="/images/logo_name.png"/>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="clients-navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active">
                            <a href="/clients" th:text="#{clients.all.title}"></a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_COFFEENET-ADMIN')">
                            <a href="/clients/new" th:text="#{clients.new.title}"></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar--user-info">
                        <li>
                            <span th:text="${#authentication.name}" id="navhbar--current-user"></span>
                        </li>
                        <li>
                            <form action="/logout" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <button type="submit" id="navbar--logout-link"><span
                                        class="glyphicon glyphicon-log-out"></span>Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<main layout:fragment="main"></main>

</body>
</html>