<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui, user-scalable=no"/>
    <title th:text="#{login.title}"></title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/auth.css"/>
</head>
<body>
<div class="login container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

        <div th:if="${param.error}" th:text="#{login.failure}" class="alert alert-danger"></div>

        <div class="login--form">
            <div class="login--header">
                <img alt="synyx Logo" src="/images/logo.png"/>
                <h2 th:text="#{login.name}"></h2>
            </div>

            <form role="form" action="/login" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username"
                           th:placeholder="#{login.username}" autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password"
                           th:placeholder="#{login.password}"/>
                </div>
                <input type="hidden" id="csrf_token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-block btn-success">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <span th:text="#{login.button.login}"></span>
                </button>
            </form>
        </div>
    </div>
</div>

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>